{% extends 'base.html' %}

{% block meta %}
<title>Add Task</title>
{% endblock meta %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container d-flex justify-content-center">
    <div class = "container shadow bg-body p-4 m-4">
        <h1 class="text-center">Add Task</h1>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            <table>
                {{ task_form.as_p }}
                <tr>
                    <td><input class="btn login_btn btn-primary" type="submit" value="Add Task"></td>
                </tr>
                <tr>
                    <td><a href="{% url 'todolist:show_todolist' %}" class="btn btn-danger">Cancel</a></td>
                </tr>
            </table>
        </form>   
    </div>
</div>

{% endblock content %}