<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'todolist:show_todolist' %}">Todolist</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <span class="navbar-brand">G'day, {{user.username}}!</span>
                        <span class="navbar-brand">|</span>
                        <a class="navbar-brand" href="{% url 'todolist:logout' %}">Logout</a>
                    {% else %}
                        <a class="navbar-brand" href="{% url 'todolist:login' %}">Login</a>
                        <a class="navbar-brand" href="{% url 'todolist:register' %}">Register</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        
    </div>
</nav>