{% extends 'base.html' %}

{% block content %}

{% include 'header.html' %}

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="container p-4 d-flex justify-content-center bg-body rounded">
    <h1>Welcome to Todolist!</h1>
  </div>

  <div class="container d-flex justify-content-center bg-body rounded">
    <a href="{% url 'todolist:create_task' %}" class="btn btn-lg btn-warning">Add New Task</a>
  </div>

  
  <div class="container p-5 mb-7 bg-body rounded ">

    <div class="row row-cols-1 g-2">
      <h2 class="fw-bold">ToDos</h2>
      {% for task in task_data %}
        {% if task.is_finished == False %}
          <div class="col-md-4">
              <div class="card" style="width: 19rem;">
                <!-- card body -->
                <div class="card-body">
                  <h5 class="card-title">{{task.title}}</h5>
                  <p class="card-text">{{task.description}}</p>
                  <a href="{% url 'todolist:update-task' task.id %}" class="btn btn-outline-success btn-sm">Finished</a>
                  <a href="{% url 'todolist:delete-task' task.id %}" class="btn btn-outline-danger btn-sm">Delete Task</a>
                </div>
                <!-- card footer -->
                <div class="card-footer">
                  <small class="text-muted">{{task.date}}</small>
                </div>
              </div>
            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="container p-5 mb-5 bg-body rounded">

    <div class="row row-cols-1 g-2">
      <h2 class="fw-bold">Finished Tasks</h2>
      {% for task in task_data %}
        {% if task.is_finished  %}
          <div class="col-md-4">
              <div class="card" style="width: 19rem;">
                <!-- card body -->
                <div class="card-body">
                  <h5 class="card-title">{{task.title}}</h5>
                  <p class="card-text">{{task.description}}</p>
                  <a href="{% url 'todolist:update-task' task.id %}" class="btn btn-outline-success btn-sm">Undo</a>
                  <a href="{% url 'todolist:delete-task' task.id %}" class="btn btn-outline-danger btn-sm">Delete Task</a>
                </div>
                <!-- card footer -->
                <div class="card-footer">
                  <small class="text-muted">{{task.date}}</small>
                </div>
              </div>
            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <div class="container d-flex justify-content-center bg-body rounded">
    <h5><a href="{% url 'todolist:show_todolist' %}" class="btn btn-dark">Back to Top</a></h5>
  </div>

  <br>
  <br>
  {% endblock content %}
</body>