@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headers h1 {
  margin: 0px;
}

.content, .ticket-div-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0rem 12rem;
  margin: 2rem;
}

.rows {
  display: flex;
  flex-direction: column;
}

.data {
  margin-top: 0.6rem;
}

.data h5, .data p {
 margin: 0.6rem; 
 max-width: 20rem;
}