{% extends 'base.html' %}

{% block content %}

<h1>My Watchlist: PBP Assignment 2</h1>

<h5>Name: </h5>
<p>{{name}}</p>

<h5>Student ID: </h5>
<p>{{id}}</p>

<table>
  <tr>
    <th>Title</th>
    <th>Release Date</th>
    <th>Watch Status</th>
    <th>Rating</th>
    <th>Review</th>
  </tr>
  {% for item in watchlist_item %}
  <tr>
    <td>{{item.title}}</td>
    <td>{{item.release_date}}</td>
    <td>{{item.watched}}</td>
    <td>{{item.rating}}</td>
    <td>{{item.review}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}